{% extends 'base.html' %}

{% block title %}Pizzas{% endblock %}

{% block content %}
<div class="container">
    <div class="mb-5">
        <a href="{{ url_for('pipshash.add_pizza') }}" class="button is-success">
            <i class="fa-solid fa-plus"></i> &nbsp; Agregar pizza
        </a>
    </div>

    <div class="columns is-multiline">
        {% for pizza in pipshash %}
        <div class="column is-one-third">
            <div class="card">
                <div class="card-content has-text-centered">
                    <p class="title is-4">{{ pizza.nombre }}</p>
                </div>

                <div class="card-image has-text-centered">
                    <figure class="image is-4by3" style="max-width: 200px; margin: 0 auto;">
                        <img src="{{ url_for('static', filename='img/' + pizza.imagen) }}" alt="Imagen de {{ pizza.nombre }}">
                    </figure>
                </div>

                <div class="card-content">
                    <p><strong>Masa:</strong> {{ pizza.masa }}</p>
                    <p><strong>Queso:</strong> {{ pizza.queso }}</p>
                </div>

                <div class="card-footer has-text-centered" style="display: flex; justify-content: space-around; padding: 1rem;">
                    <a href="{{ url_for('pipshash.update_pizza', id=pizza.id) }}" class="button is-small is-link is-outlined">
                        <i class="fa-solid fa-pen-to-square"></i> Editar
                    </a>
                    <a href="{{ url_for('pipshash.delete_pizzas', id=pizza.id) }}" class="button is-small is-danger is-outlined">
                        <i class="fa-solid fa-trash"></i> Eliminar
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
